#root {
  background-color: #9fa3a7;
  margin: 0 auto;
  
  
}
p{
  font-family: 'Inter', sans-serif; font-weight: 400;
}

h2{
  color: white;
  font-size: 20px;
  font-family: 'Poppins', sans-serif; font-weight: 600; 
}
h1{
  color:#1C2830 ;
  font-size: 40px;
  text-shadow:1px 1px 2px rgb(252, 151, 0);
  font-family: 'Poppins', sans-serif; font-weight: 700; 
}

.link{
  color: #0EA5E9;
  cursor: pointer;
  
}
.link:hover{
  color: #F97316;
}


.fade-edges {
 
  mask-image: radial-gradient(
    rgba(0,0,0,1) 50%,
    rgba(0,0,0,0) 80%
  );
}

h3{
  text-shadow:1px 1px 2px black ;
  color: #F97316;
  font-family: 'Poppins', sans-serif; font-weight: 500;
}
h4{
  font-size: 15px;
  padding: 5px;
  display: flex;
  align-items: center;
  margin: 5px;
  color: #00c00a;
  font-family: 'Poppins', sans-serif; font-weight: 400;
}
